@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --dark-grey: #212529;
    --white: #fff;
    --light-grey: #6c757d;
    --lighter-grey: #99a3a9;
    --yellow: #ffd332;
    --dark-yellow: #b08100;
    --dark-black: #000;
    --light-black: #666;
    --border: .1rem solid var(--light-grey);
    --border-hover: .1rem solid var(--yellow);
    --background: #303738;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all, .2s linear;
    transition:width, none;
}
a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background:var(--light-black);
}

section {
    padding: 5rem 9%;
}

/* Start header section */
.header .header1 {
    background: var(--dark-grey);
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header1 .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--yellow);
}
.header .header1 .logo i{
    color: var(--yellow);
}

.header .header1 .search-form {
    width: 50rem;
    height:5rem;
    overflow: hidden;
    border: var(--border);
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header1 .search-form input {
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    background: var(--dark-grey);
    color: var(--white);
}
/*.header .header1 .personal{
    position: relative;
    left: 37px; top:17px;
    font-size: 1.2rem;
    text-align: center;
    color: var(--dark-black);
    width: 15px; height: 15px;
    border-radius: 15%;
    background-color: var(--yellow);
}*/
.header .header1 .personal{
    display: grid;
    column-gap: 7px;
    grid-template-columns: 45px 35px 45px;
    justify-content: center;
    align-items: center;
}
.header .header1 .personal a {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--white);
    cursor: pointer;
}
.header .header1 .personal .cart:after{
    content:attr(value);
    font-family: 'Poppins', sans-serif;
    font-size:11px;
    color: var(--dark-black);
    background: var(--yellow);
    border-radius:3px;
    padding: 0 5px;
    position:relative;
    left:-7px;
    top:-14px;

}
.header .header1 .personal a:hover {
    color: var(--yellow);
}

.header .header2 {
    background: var(--yellow);
    text-align: center;
}

.header .header2 .navbar {
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
}

.header .header2 .navbar a {
    color: var(--dark-black);
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}

.header .header2 .navbar a:hover {
    background: var(--dark-yellow);
}

.header .header2.active {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}
/* End header section */


/* Home section */
.home {
    background-color: var(--background);
    display: block;
}
.row {
    background-color: var(--dark-grey);
    display: grid;
    grid-template-columns: repeat(4, 308px);
    grid-template-rows: 50rem;
}

.home .row .page-item {
    color: var(--white);
    display: grid;
    grid-template-rows: 35rem 8rem 7rem;
    justify-items: center;
}
.page-item:hover {
    border: var(--border)!important;
}


.home .row .page-item .product-media-ref {
    position: relative;
    display: block;
}
.home .row .page-item .product-media-ref .product-media {
    height: 300px;
    width: 200px;
    position: relative;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    transform: translate(-50%, -50%);
}

.home .row .page-item .product-name-author {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 4rem 3rem;
    font-size: 14px;
    width: 200px;
}
.home .row .page-item .product-name-author a{
    text-decoration: none;
    color: var(--white);
}
.home .row .page-item .product-name-author .product-author{
    color: var(--lighter-grey);
}

.home .row .page-item .product-price{
    position: relative;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 100px auto;
    font-size: 14px;
}
.home .row .page-item .product-price .price{
    font-size: 2rem;
    color: var(--yellow);
}
.home .row .page-item .product-price .buy-form .btn{
    border: 1px solid var(--lighter-grey);
    color: var(--lighter-grey);
    width: 100%; height: 50px;
    font-size: 2rem;
}
.home .row .page-item .product-price .buy-form .btn:hover {
    border: 1px solid var(--yellow);
    color: var(--dark-black);
    background-color: var(--yellow);
}
/* Searching */

.autocomplete-items{
    position: absolute;
    max-height: 300px;
    overflow-y: auto;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: 5px;
    z-index: 99;
    top: 9%; left: 35.7%; right: 30.7%;
    background-color: var(--dark-grey);
    padding: 10px;
    cursor: pointer;
}
.autocomplete-items a {
    position: relative;
    color: var(--white);
    text-decoration: none;
    width: 300px;
}

    /*when hovering an item:*/
.autocomplete-items a:hover {
    color: var(--yellow);
    font-size: 1.7rem;
}
